* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: navy;
}
.container-register form {
  border: 2px solid white;
  padding: 10%;
  border-radius: 15px;
}

.mb-3 {
  color: white;
}
